$fondo: #ff5;
$renglonClr: #f00;
$fondoDark: #114;
$renglonClrDark: #99f;

$clrFuente: black;
$clrFuenteDark: #aab;

$fondoSombraDark:#003;
$fondoSombra: #550;

$clrFondoRelojStandar:#ffff55b3;


$resplandorBtnDarkmodeDark: rgba(170, 170, 187, 0.2);

$tiempoTransicion: 2s;


$clrBotonRojo:#f00;
$clrBotonVerde: #5f5;


$bpXXL:1400px;
$bpXL:1200px;
$bpMd:992px;
$bpSm:768PX;
$bpXS:576PX;
