* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 24px;
  font-family: 'Indie Flower', cursive;
}

body {
  height: 1rem;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(96%, #ff5), to(#f00));
  background: linear-gradient(to top, #ff5 96%, #f00 100%);
  background-repeat: repeat;
  -webkit-transition: 2;
  transition: 2;
}

body.dark {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(96%, #114), to(#99f));
  background: linear-gradient(to top, #114 96%, #99f 100%);
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header {
  height: 5rem;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body.dark header {
  color: #aab;
}

h1 {
  text-shadow: 0px 0px 3px #bbb;
  font-family: 'Cinzel', serif;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

label {
  color: #000;
}

body.dark label {
  color: #aab;
}

.portalista {
  display: flexbox;
  margin: 20rem 0;
}

.btn {
  border: 0;
  border-radius: 20px;
  color: aliceblue;
  margin: 0.2rem;
}

.btnCompleto {
  width: 1rem;
  height: 1rem;
  background-color: #5f5;
}

.btnReiniciar {
  width: 5rem;
  height: 1rem;
  background-color: #f00;
  font-family: 'Cinzel', serif;
}

.btnSacar {
  width: 1rem;
  height: 1rem;
  background-color: #f00;
  border-radius: 5px;
}

.btnAgregar {
  width: 3rem;
  height: 1rem;
  background-color: #5f5;
  -webkit-box-shadow: inset 0 0 #9f9;
          box-shadow: inset 0 0 #9f9;
}

.btnReiniciarReloj, .btnEmpezarReloj {
  margin: 0.1rem;
}

.prioridad {
  width: 2rem;
  text-align: right;
}

.tarea {
  display: inline-block;
  margin: 0.3rem;
  color: black;
}

body.dark .tarea {
  color: #aab;
}

.tareaCompleta {
  color: #bbb;
  -webkit-box-shadow: inset 0 0 10px #5f5;
          box-shadow: inset 0 0 10px #5f5;
  background-color: #99ff99b3;
}

.descripcionTarea {
  font-weight: 900;
  text-decoration: underline;
}

.pomodoroTimer {
  background-color: #ffff55b3;
  border-radius: 20px;
  padding: 1rem;
  margin-right: 1rem;
  display: flexbox;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0.2rem 0.2rem 0.5rem #550;
          box-shadow: 0.2rem 0.2rem 0.5rem #550;
  font-family: 'Saira', sans-serif;
  height: 27vh;
  aspect-ratio: 2/1;
  color: black;
}

body.dark .pomodoroTimer {
  -webkit-box-shadow: 0.2rem 0.2rem 0.5rem #003;
          box-shadow: 0.2rem 0.2rem 0.5rem #003;
}

.pomodoroDescripcion, .infoVueltas {
  text-align: center;
}

.reloj {
  text-align: center;
}

.controlesPomodoro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0.1rem;
}

.btnEmpezarReloj {
  width: 3rem;
  height: 1rem;
  background-color: #5f5;
  -webkit-box-shadow: inset 0 0 #9f9;
          box-shadow: inset 0 0 #9f9;
}

.btnReiniciarReloj {
  width: 1rem;
  height: 1rem;
  background-color: #f00;
  border-radius: 5px;
}

.controlesTipoTimer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.btnTipo {
  padding: 0.3rem;
  font-size: 0.7rem;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: inset 0.3rem 0.3rem 0.5rem rgba(204, 204, 204, 0.4);
          box-shadow: inset 0.3rem 0.3rem 0.5rem rgba(204, 204, 204, 0.4);
}

.btnTrabajo {
  background-color: #ee7777;
  color: #333;
}

.pomodoroTimerConcentrate {
  background-color: #ff0000b3;
  color: #bbb;
}

.btnDescansoCorto {
  background-color: #7fdd7f;
  color: #333;
}

.pomodoroTimerRelax {
  background-color: rgba(85, 255, 85, 0.7);
  color: #333;
}

.btnDescansoLargo {
  background-color: #3d629b;
  color: #bbb;
}

.pomodoroTimerRelaxLargo {
  background-color: rgba(61, 98, 155, 0.7);
  color: #bbb;
}

.darkModeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: 1rem;
}

.switch {
  background-color: #333;
  border-radius: 100px;
  border: none;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  -webkit-box-shadow: 0 0 3rem 0.3rem #f00;
          box-shadow: 0 0 3rem 0.3rem #f00;
  -webkit-transition: 300 ease all;
  transition: 300 ease all;
}

.switch::after {
  content: "";
  display: block;
  width: 30px;
  aspect-ratio: 1/1;
  position: absolute;
  background-color: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  -webkit-transition: 300 ease all;
  transition: 300 ease all;
}

.switch.active {
  background-color: #77d;
  -webkit-box-shadow: 0 0 3rem 0.2rem #99f;
          box-shadow: 0 0 3rem 0.2rem #99f;
}

.switch.active::after {
  left: unset;
  right: 0;
}

.switch span {
  width: 30px;
  aspect-ratio: 1/1;
  line-height: 30px;
  display: block;
  background: none;
  -webkit-transition: 300 ease all;
  transition: 300 ease all;
}

.switch span .fa-empire {
  color: #a33;
}

.switch span .fa-rebel {
  color: #a3edff;
}
/*# sourceMappingURL=styles.css.map */