* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 24px;
  font-family: 'Indie Flower', cursive;
}

.body {
  height: 1rem;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(96%, #ff5), to(#f00));
  background: linear-gradient(to top, #ff5 96%, #f00 100%);
  background-repeat: repeat;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.darkModeColor {
  height: 100%;
  width: 100vw;
  mix-blend-mode: hard-light;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: background-color 2s;
  transition: background-color 2s;
}

body.dark .darkModeColor {
  background-color: #114;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  height: 5rem;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body.dark header {
  color: #aab;
}

h1 {
  text-shadow: 0px 0px 3px #bbb;
  font-family: 'Cinzel', serif;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-transition: 2s;
  transition: 2s;
}

label {
  color: black;
  -webkit-transition: 2s;
  transition: 2s;
}

body.dark label {
  color: #aab;
}

.cabeceraFormulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.cabeceraFormulario .botoneraFormulario {
  margin-left: 1rem;
}

.portalista {
  display: flexbox;
  margin: 20rem 0;
}

.btn {
  border: 0;
  border-radius: 20px;
  color: aliceblue;
  margin: 0.2rem;
}

.btnCompleto {
  width: 1rem;
  height: 1rem;
  background-color: #5f5;
  -webkit-transition: 200ms;
  transition: 200ms;
}

body.dark .btnCompleto {
  background-color: transparent;
  border: 0.1rem solid #aab;
  color: #aab;
  font-weight: 700;
}

.btnCompleto:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btnSacar {
  width: 1rem;
  height: 1rem;
  background-color: #f00;
  border-radius: 5px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

body.dark .btnSacar {
  background-color: transparent;
  border: 0.1rem solid #aab;
  color: #aab;
  font-weight: 700;
}

.btnSacar:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btnReiniciar {
  width: 5rem;
  height: 1rem;
  background-color: #f00;
  font-family: 'Cinzel', serif;
}

body.dark .btnReiniciar {
  background-color: transparent;
  border: 0.1rem solid #aab;
  color: #aab;
  font-weight: 700;
  padding: 0.1rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.btnAgregar {
  width: 3rem;
  height: 1rem;
  background-color: #5f5;
  -webkit-box-shadow: inset 0 0 #9f9;
          box-shadow: inset 0 0 #9f9;
  border-radius: 10px;
}

body.dark .btnAgregar {
  background-color: transparent;
  border: 0.1rem solid #aab;
  color: #aab;
  font-weight: 700;
  padding: 0.1rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.btnReiniciarReloj, .btnEmpezarReloj {
  margin: 0.1rem;
}

.prioridad {
  width: 2rem;
  text-align: right;
}

.tarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0.3rem;
  color: black;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: color 2s;
  transition: color 2s;
}

body.dark .tarea {
  color: #aab;
}

.tareaCompleta {
  color: #aab;
  -webkit-box-shadow: inset 0 0 10px #5f5;
          box-shadow: inset 0 0 10px #5f5;
  background-color: #99ff99b3;
}

body.dark .tareaCompleta {
  -webkit-box-shadow: inset 0 0 10px #aab;
          box-shadow: inset 0 0 10px #aab;
  background-color: transparent;
}

.textoAgregar {
  font-family: 'Indie Flower', cursive;
  background-color: transparent;
  color: black;
  height: 1.2rem;
  border: 0;
  font-size: 1.2rem;
  margin-left: 1rem;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

body.dark .textoAgregar {
  border-bottom: #aab 0.1rem solid;
  color: #aab;
}

.descripcionTarea {
  font-weight: 900;
  text-decoration: underline;
}

.divDescripcionTareas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.divDescripcionTareas label {
  margin-right: 0.25rem;
}

.divDescripcionTareas p {
  margin-left: 0.25rem;
}

.pomodoroTimer {
  border-radius: 20px;
  padding: 1rem;
  margin-right: 1rem;
  display: flexbox;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0.2rem 0.2rem 0.5rem #550;
          box-shadow: 0.2rem 0.2rem 0.5rem #550;
  font-family: 'Saira', sans-serif;
  width: 35vw;
  aspect-ratio: 7/3;
  color: black;
  -webkit-transition: 2s;
  transition: 2s;
}

body.dark .pomodoroTimer {
  color: #aab;
  -webkit-box-shadow: 0.2rem 0.2rem 0.5rem #003;
          box-shadow: 0.2rem 0.2rem 0.5rem #003;
}

.pomodoroDescripcion, .infoVueltas {
  text-align: center;
}

.reloj {
  text-align: center;
}

.controlesPomodoro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0.1rem;
}

.controlesTipoTimer {
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.btnTipoClr {
  border: 0.2rem solid black;
  color: black;
  background-color: transparent;
}

body.dark .btnTipoClr {
  border: 0.2rem solid #aab;
  color: #aab;
}

.btnTipo {
  position: relative;
  padding: 0.3rem;
  font-size: 0.7rem;
  border-radius: 50px;
  -webkit-transition: 200ms;
  transition: 200ms;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 900;
}

.btnActivos {
  -webkit-transition: 500ms;
  transition: 500ms;
}

.btnActivos:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: black;
  color: #aab;
}

body.dark .btnActivos:hover {
  background-color: #aab;
  color: black;
}

.btnSeleccionado {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  font-weight: 800;
  -webkit-box-shadow: inset 0.3rem 0.3rem 0.5rem rgba(54, 54, 54, 0.4), inset -0.1rem -0.1rem 0.5rem rgba(254, 254, 254, 0.4);
          box-shadow: inset 0.3rem 0.3rem 0.5rem rgba(54, 54, 54, 0.4), inset -0.1rem -0.1rem 0.5rem rgba(254, 254, 254, 0.4);
  background-color: black;
  color: #aab;
}

body.dark .btnSeleccionado {
  background-color: #aab;
  color: black;
}

.btnDesactivado {
  opacity: 0.3;
}

.btnEmpezarReloj {
  width: 3rem;
  height: 1rem;
  background-color: transparent;
  border-radius: 2px;
}

.btnReiniciarReloj {
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  border-radius: 5px;
}

.darkModeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: 1rem;
}

.switch {
  background-color: #333;
  border-radius: 100px;
  border: none;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  -webkit-box-shadow: 0 0 3rem 0.3rem #f00;
          box-shadow: 0 0 3rem 0.3rem #f00;
}

.switch::after {
  content: "";
  -webkit-transition: all 200ms;
  transition: all 200ms;
  display: block;
  width: 30px;
  aspect-ratio: 1/1;
  position: absolute;
  background-color: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
}

.switch.active {
  background-color: #77d;
  -webkit-box-shadow: 0 0 3rem 0.2rem #99f;
          box-shadow: 0 0 3rem 0.2rem #99f;
}

.switch.active::after {
  -webkit-transform: translateX(1.25rem);
          transform: translateX(1.25rem);
}

.switch span {
  width: 30px;
  aspect-ratio: 1/1;
  line-height: 30px;
  display: block;
  background: none;
}

.switch span .fa-empire {
  color: #a33;
}

.switch span .fa-rebel {
  color: #a3edff;
}

@media only screen and (max-width: 1200px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cabeceraFormulario {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  form {
    margin-top: 1rem;
  }
  .pomodoroTimer {
    width: 60vw;
    margin: 0;
  }
  .pomodoroTimer .btnEmpezarReloj {
    width: 4rem;
    height: 1.5rem;
  }
  .pomodoroTimer .btnReiniciarReloj {
    height: 1.5rem;
    width: 1.5rem;
  }
}

@media only screen and (max-width: 992px) {
  html {
    font-size: 20px;
  }
  .switch.active::after {
    -webkit-transform: translateX(1.5rem);
            transform: translateX(1.5rem);
  }
}

@media only screen and (max-width: 768PX) {
  html {
    font-size: 18px;
  }
  .switch.active::after {
    -webkit-transform: translateX(1.7rem);
            transform: translateX(1.7rem);
  }
  .btnTipo {
    padding: 0.2rem;
  }
}

@media only screen and (max-width: 576PX) {
  html {
    font-size: 16px;
  }
  header {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header h1 {
    -webkit-transform: translate(0);
            transform: translate(0);
    left: 1rem;
  }
  .switch.active::after {
    -webkit-transform: translateX(2.1rem);
            transform: translateX(2.1rem);
  }
  form .cabeceraFormulario {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  form .cabeceraFormulario .btnReiniciar {
    width: 6rem;
  }
  form .tarea {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 0.1rem solid black;
    border-bottom: 0.1rem solid black;
  }
  form .tarea .btnCompleto, form .tarea .btnSacar {
    line-height: 0.7rem;
  }
  body.dark form .tarea {
    border-top: 0.1rem solid #aab;
    border-bottom: 0.1rem solid #aab;
  }
  .darkModeColor {
    width: 576PX;
  }
  .pomodoroTimer {
    width: 90vw;
  }
}
/*# sourceMappingURL=styles.css.map */