@import "./scss/_coloresYVariables.scss";

*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 24px;
    font-family: 'Indie Flower', cursive;
}
.body{    
    height: 1rem;
    // background-color: $fondo;
    background: linear-gradient(to top, $fondo 96%, $renglonClr 100%) ;
    background-repeat: repeat;
    transition: all 0.3s;
    // &.dark{
    //     background-color: $fondoDark;
    //     background: linear-gradient(to top, $fondoDark 96%, $renglonClrDark 100%) ;
    // }
}
.darkModeColor{
    height: 100vh;
    width: 100vw;
    mix-blend-mode: hard-light;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: background-color 2s;
    body.dark &{
        background-color: $fondoDark;
        
    }
}
main{
    display: flex;
    justify-content: space-evenly;
    
}
header{
    height: 5rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    body.dark &{
        color: $clrFuenteDark;
    }
}
h1{
    text-shadow: 0px 0px 3px #bbb;
    font-family: 'Cinzel', serif;
    position: relative;
    left:50%;
    transform: translate(-50%);
    transition: 2s
}

@import "./scss/to-doList";

@import "./scss/reloj";

@import "./scss/darkMode";